@tailwind base;
@tailwind components;
@tailwind utilities;

@import './animations.css';
@import './scrollbar.css';

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;
        --ring: 215 20.2% 65.1%;
        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 240 8% 7%;
            --background-secondary: 240 5% 15%;
            --foreground: 0 0% 90%;
            --primary: 210 40% 98%;
            --primary-foreground: 210 40% 98%;
            --accent-foreground: 210 40% 98%;
            --border: 240 5% 15%;
            --accent: 240 2% 15%;
            --popover: 240 8% 7%;
            --popover-foreground: 210 40% 98%;
        }
    }
}

html, body {
    @apply bg-background text-foreground;
}

#root {
    @apply min-h-screen flex flex-col;
}

.btn {
    @apply bg-white text-neutral-800 border border-solid border-neutral-200 px-3 py-1 h-fit hover:cursor-pointer hover:bg-neutral-50 rounded-md focus:outline focus:outline-2 outline-offset-2 outline-blue-500;
    @apply disabled:bg-neutral-100 disabled:text-neutral-400 disabled:border-neutral-200 disabled:hover:bg-neutral-100 disabled:cursor-not-allowed;
}
.btn-delete {
    @apply bg-red-500 text-white hover:bg-red-600 border-red-400 hover:border-red-500;
    @apply disabled:bg-red-300 disabled:text-red-500 disabled:border-red-300 disabled:hover:bg-red-300 disabled:hover:border-red-300 disabled:cursor-not-allowed;
}

.btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600 border-blue-400 hover:border-blue-500;
    @apply disabled:bg-blue-300 disabled:text-blue-500 disabled:border-blue-300 disabled:hover:bg-blue-300 disabled:hover:border-blue-300 disabled:cursor-not-allowed;
}

.card {
    @apply border border-solid rounded-md;
    /* @apply w-full gap-4 border border-t-4 shadow-sm rounded-md pt-4; */
}
.card:not(.no-padding) {
    @apply p-4;
}

.input {
    @apply border rounded-md focus:outline focus:outline-2 outline-offset-2 outline-blue-500 px-2 py-1;
}

.h1 {
    @apply text-2xl font-semibold;
}

.h2 {
    @apply text-xl font-semibold px-2 py-1.5;
}

.h3 {
    @apply text-base font-semibold px-2 py-1.5;
}

a {
    padding: 0;
}

.link {
    @apply text-blue-500 hover:cursor-pointer hover:underline;
}

.pre {
    @apply bg-neutral-100 rounded-md p-2;
}

.HoverCardContent {
    border-radius: 6px;
    padding: 20px;
    width: 300px;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}
.HoverCardContent[data-side='top'] {
    animation-name: slideDownAndFade;
}
.HoverCardContent[data-side='right'] {
    animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
}
.HoverCardContent[data-side='left'] {
    animation-name: slideRightAndFade;
}

.HoverCardArrow {
    fill: white;
}

.ImageTrigger {
    cursor: pointer;
    border-radius: 100%;
    display: inline-block;
}
.ImageTrigger:focus {
    box-shadow: 0 0 0 2px white;
}

.Image {
    display: block;
    border-radius: 100%;
}
.Image.normal {
    width: 45px;
    height: 45px;
}
.Image.large {
    width: 60px;
    height: 60px;
}

.Text {
    margin: 0;
    color: #1a1523;
    font-size: 15px;
}
.Text.faded {
    color: #6c6576;
}
.Text.bold {
    font-weight: 500;
}


.DropdownMenuContent,
.DropdownMenuSubContent {
    min-width: 220px;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
        0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
    animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
    animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
    animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
    font-size: 13px;
    line-height: 1;
    color: #53526a;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 5px;
    position: relative;
    padding-left: 25px;
    user-select: none;
    outline: none;
}
.DropdownMenuSubTrigger[data-state='open'] {
    background-color: #e4e2ee;
    color: #53526a;
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
    color: #8e8c99;
    pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
    background-color: #6e56cf;
    color: #ffffff;
}

.DropdownMenuLabel {
    padding-left: 25px;
    font-size: 12px;
    line-height: 25px;
    color: #2a2828;
}

.DropdownMenuSeparator {
    height: 1px;
    background-color: #d7d4e9;
    margin: 5px;
}

.DropdownMenuItemIndicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.DropdownMenuArrow {
    fill: white;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #53526a;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}
.IconButton:hover {
    background-color: #f3f0ff;
}
.IconButton:focus {
    box-shadow: 0 0 0 2px black;
}

.RightSlot {
    margin-left: auto;
    padding-left: 20px;
    color: #2a2828;
}
[data-highlighted] > .RightSlot {
    color: white;
}
[data-disabled] .RightSlot {
    color: #8e8c99;
}

.LabelRoot {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: black;
}

.Input {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 35px;
    font-size: 15px;
    line-height: 1;
    @apply border rounded-md focus:outline focus:outline-2 outline-offset-2 outline-blue-500;
}

/* Apply the loading animation to child spans */
.loading-dots span {
    animation: loading 1.4s infinite both;
    opacity: 0;
}

/* Stagger the animation delays using nth-child */
.loading-dots span:nth-child(1) {
    animation-delay: 0ms;
}
.loading-dots span:nth-child(2) {
    animation-delay: 200ms;
}
.loading-dots span:nth-child(3) {
    animation-delay: 400ms;
}


.TooltipContent {
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1;
	color: var(--violet-11);
	background-color: white;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

.TooltipArrow {
	fill: #999;
}

.code {
    @apply bg-neutral-100 rounded-md px-1 py-0.5;
}
