
/* Add this to your CSS file */
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(var(--muted) / 0.5);
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground) / 0.5);
    border-radius: 100px;
    border: 3px solid transparent; /* Add space around the thumb */
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground) / 0.7);
}
